header {
  display: block;
  width: 100%;
  text-align: center;
  background: url('https://images.unsplash.com/photo-1524868857876-218cafbdda8b') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Montserrat', sans-serif;

  .headline { padding: 120px 0; }

  h1 {
    font-size: 130px;
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    // background: #fff;
    background: rgba(160, 71, 227, 0.7);
  }

  h2 {
    font-size: 44px;
    color: #fff;
    // background: #fff;
    // background: rgba(255,255,255,0.7);
  }

  @media(max-width:1200px) {
    h1 { font-size: 140px; }
    h2 { font-size: 63px; }
  }

  @media(max-width:991px) {
    h1 { font-size: 105px; }
    h2 { font-size: 50px; }
  }

  @media(max-width:668px) {
    h1 { font-size: 70px; }
    h2 { font-size: 32px; }
  }

  @media(max-width:640px) {
    .headline { padding: 75px 0 25px 0; }
    h1 { font-size: 60px; }
    h2 { font-size: 30px; }
  }
}
