nav {
	background-color: #3F3D56;
	border-color: #3F3D56;
	color: #fff !important;
	@extend .navbar, .navbar-inverse, .navbar-fixed-top;
	button { @extend .navbar-toggle; }
	#menu { @extend .collapse, .navbar-collapse; }
  ul { @extend .nav, .navbar-nav; }
}
