<main>
  <style>
    button {
      margin-left: 30px;
      background: #3F3D56;
    }
    button > a {
      text-decoration: none;
      color: #fff;
    }

    button > a:hover {
      text-decoration: none;
      color: #fff;
    }

    .glow-on-hover {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #bbb;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
    }

    .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
    }

    .glow-on-hover:active {
      color: #000
    }

    .glow-on-hover:active:after {
      background: transparent;
    }

    .glow-on-hover:hover:before {
      opacity: 1;
    }

    .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }

    @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
    }

    .thumbnails {
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      box-sizing: border-box;
    }
    .thumbnails li {
      float: left;
      width: 33%;
      position: relative;
      padding: 1px;
      min-height: 100px;
      background-color: #fff;
      border: 1px solid transparent;
      overflow: hidden;
    }
    .thumbnails li img {
      max-width: 100%;
      display: block;
      position: absolute;
      max-height: 100px;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }

    .inverted {
    	filter: invert(90%);
    }
  </style>
  <!-- {% for feature in site.features %}
    <hr id='{{ feature.id }}'>

    <section>
      <img class='{% cycle 'pull-left', 'pull-right' %}' src='{{ feature.image }}'>
      <h2>{{ feature.heading }}<span>{{ feature.subheading }}</span></h2>
      <div class='lead'>{{ feature.content }}</div>
    </section>
  {% endfor %} -->

  <hr id="evento">

  <section>
    <!-- <img class="pull-right" src="https://images.unsplash.com/photo-1531493657527-6d1af0c4c593?auto=format&fit=crop&w=450&h=450"> -->
    <img class="pull-right" src="assets/img/blogging.svg" width="550">
    <h2>Conoce <span>She++</span></h2>
    <div class='lead'>
      <p>She++ es un evento para mujeres jóvenes que buscan aprender e introducirse en el mundo del desarrollo tecnológico. Es un evento para compartir y empoderar a mujeres en dicho ámbito.</p>
      <h3>En este programa buscamos:</h3>
      <ul>
        <li>Crear un espacio que fomente la inclusión en el desarrollo de tecnología.</li>
        <li>Compartir conocimientos sobre tecnologías en diferentes niveles, a través de 3 tracks con distintas tecnologías.</li>
      </ul>

      <p>Para esta edición nos enfocaremos en el uso de GitHub y Python, esto irá variando en cada edición.</p>
    </div>
  </section>

  <hr id="programa">

  <section>
    <h2>Conoce el <span>programa</span></h2>
    <div class='lead'>
      <p>El programa consta de tres tracks de formación en distintas tecnologías, separados de acuerdo al nivel de conocimientos. A continuación te presentamos el programa:</p>
      <br>
      <center>
        <div class="table-responsive">
          <table style="width: 90%; text-align: center;" class="table table-bordered">
          <tbody>
          <tr style="height: 36px;">
          <td style="height: 36px; border-color: #ffffff; background-color: #6c63ff; color: #ffffff;" colspan="4"><strong>PROGRAMA DEL EVENTO</strong></td>
          </tr>
          <tr style="height: 30px;">
          <td style="width: 10%; height: 54px; background-color: #6c63ff; border-color: #ffffff; color: #ffffff;" rowspan="2"><br><strong>HORA</strong></td>
          <td style="width: 10%; height: 30px; background-color: #6c63ff; border-color: #ffffff; color: #ffffff;"><strong>TRACK 1 &ndash; B&aacute;sico</strong></td>
          <td style="width: 10%; height: 30px; background-color: #6c63ff; border-color: #ffffff; color: #ffffff;"><strong>TRACK 2 &ndash;&nbsp;Intermedio</strong></td>
          <td style="width: 10%; height: 30px; background-color: #6c63ff; border-color: #ffffff; color: #ffffff;"><strong>TRACK 1 &ndash;&nbsp;Avanzado</strong></td>
          </tr>
          <tr style="height: 24px;">
          <td style="width: 10%; height: 24px; background-color: #6c63ff; border-color: #ffffff; color: #ffffff; font-size: 0.8em;"><strong>&nbsp;GitHub</strong></td>
          <td style="width: 10%; height: 24px; background-color: #6c63ff; border-color: #ffffff; color: #ffffff; font-size: 0.8em;"><strong>Processing + Python&nbsp;</strong></td>
          <td style="width: 10%; height: 24px; background-color: #6c63ff; border-color: #ffffff; color: #ffffff; font-size: 0.8em;"><strong>Python Aplicado&nbsp;</strong></td>
          </tr>
          <tr style="height: 23px;">
          <td style="width: 10%; height: 23px; border-color: #6C63FF;">10:00</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;" colspan="3">Registro &amp; Check-In</td>
          </tr>
          <tr style="height: 23px;">
          <td style="width: 10%; height: 23px; border-color: #6C63FF;">10:45</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;" colspan="3">Apertura | Presentaci&oacute;n de G.E.A.R. ⚙️ y Future Lab 🚀</td>
          </tr>
          <tr style="height: 23px;">
          <td style="width: 10%; height: 23px; border-color: #6C63FF;">11:00</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;">&nbsp;<strong>Introducci&oacute;n al uso de GitHub</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Estefan&iacute;a Saucedo &amp; </span><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Cristopher Alan</span>&nbsp;</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;"><strong>Programaci&oacute;n 101 con Processing I</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Rodolfo Ferro &amp; </span><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Ricardo Mir&oacute;n</span>&nbsp;</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;">&nbsp;<strong>Ondas gravitacionales y Python</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Atalia Navarro</span></td>
          </tr>
          <tr style="height: 23px;">
          <td style="width: 10%; height: 23px; border-color: #6C63FF;">13:00</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;" colspan="3">Networking &amp; Pizza 🍕&nbsp;</td>
          </tr>
          <tr style="height: 23px;">
          <td style="width: 10%; height: 23px; border-color: #6C63FF;">14:30</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;"><strong>Crea tu primer sitio web con GitHub pages</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Patricia Guti&eacute;rrez</span>&nbsp;</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;"><strong>Programaci&oacute;n 101 con Processing II</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Rodolfo Ferro &amp; </span><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">Ricardo Mir&oacute;n</span>&nbsp;</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;"><strong>TBD</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 200; font-size: 0.8em;">(TBD)</span>&nbsp;</td>
          </tr>
          <tr style="height: 23px;">
          <td style="width: 10%; height: 23px; border-color: #6C63FF;">17:30</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;" colspan="3">Din&aacute;mica Social 👥</td>
          </tr>
          <tr style="height: 23px;">
          <td style="width: 10%; height: 23px; border-color: #6C63FF;">18:00</td>
          <td style="width: 10%; height: 23px; border-color: #6C63FF;" colspan="3">Cierre del evento 👋🏼</td>
          </tr>
          </tbody>
          </table>
          <!-- DivTable.com -->
        </div>
      </center>
    </div>
  </section>

  <hr id="registro">

  <section>
    <!-- <img class="pull-right" src="https://images.unsplash.com/photo-1441015401724-70d16b783f5c?auto=format&fit=crop&w=450&h=450"> -->
    <img class="pull-right" src="assets/img/cloud.svg" width="450">
    <h2>Pre-registro <span>She++</span></h2>
    <div class='lead'>
      <p>Si tienes entre 16 y 29 años y te gustaría participar en el programa de <strong>She++</strong>, llena el siguiente formulario de pre-registro.</p>

      <h3>Requerimientos</h3>
      <p>En caso de que seas aceptada para participar en este programa de talleres durante todo el día, sólo será necesario:</p>
      <ul>
        <li>Traer tu equipo de cómputo (una laptop).</li>
        <li>¡Y nada más! Nosotros nos encargaremos de poner todo lo demás, incluida tu comida de ese día.</li>
      </ul>

      <p>Una vez hayas llenado el formulario, mantente pendiente de tu email para la aceptación en el programa.</p>

      <h3>¡Sólo tenemos 30 lugares!</h3>
      <br>
      <button class="glow-on-hover" type="button">
        <a href="https://forms.gle/SrfqwV9R8bnzv4Yd6" target="_blank">PRE-REGISTRO</a>
      </button>
    </div>
  </section>

  <hr id="aliadxs">

  <section>
    <h2>Aliados <span>She++</span></h2>
    <div class='lead'>
      <h3>¡Gracias por hacer que <strong>She++</strong> sea posible!</h3>
      <br>
      <ul class="thumbnails">
        <li><img src="assets/img/gear.png" width="180"></li>
        <li><img src="assets/img/futurelab.png" width="150"></li>
        <li><img src="assets/img/zonaei.png" class="inverted" width="100"></li>
        <li><img src="assets/img/pt100.png" class="inverted" width="100"></li>
        <li><img src="assets/img/ieegl.png" class="inverted" width="200"></li>
      </ul>
    </div>
  </section>

  <hr>

</main>
