<nav role='navigation'>
  <div class='container'>

    <div class='navbar-header'>
      <button type='button' data-toggle='collapse' data-target='#menu' style="color: #ddd !important;">
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='#'>{{ site.sitename }}</a>
    </div>

    <div id='menu'>
      <ul>
        <li>
          <a href="#evento" style="color: #ddd !important;">EVENTO</a>
        </li>
        <li>
          <a href="#programa" style="color: #ddd !important;">PROGRAMA</a>
        </li>
        <li>
          <a href="#registro" style="color: #ddd !important;">PRE-REGISTRO</a>
        </li>
        <li>
          <a href="#aliadxs" style="color: #ddd !important;">ALIADOS</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
